<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="renderer" content="webkit">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>关于深度好文博客</title>
    <link rel="icon" href="__RES__/common/favicon.ico">
    <link rel="stylesheet" href="__RES__/common/bootstrapv3.3.0.min.css">
    <style>
        body{
            background-color: #333;
            color: whitesmoke;
            text-align: center;
        }
        a{
            color: #00A2D4;
            margin: 1pc;
        }
        h1,h4{
            margin-top: 10%;
        }
    </style>
</head>
<body>
<h1>深度好文 博客</h1>
<h4>Power by lifanko who is a senior student of HPU ( Henan Polytechnic University, Electrical & Information Engineering )<br><br><br>
    <a href="http://hpu.lifanko.cn/blog/intro">Introduction</a>
    <a href="http://hpu.lifanko.cn">lifankohome</a>
    <a href="https://github.com/lifankohome/blog">GitHub</a>
    <a href="http://hpu.lifanko.cn/blog">Back To Blog</a>
</h4>
<p style="margin-top: 12%">&copy; 2016-2017 lifanko</p>
</body>
</html>