<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="renderer" content="webkit">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>介绍 - 我们的布洛格</title>
    <link rel="icon" href="__RES__/common/favicon.ico">
    <style>
        body{
            background: url("__RES__/blog/bg.jpg");
            background-attachment: fixed;
            background-size: cover;
            font-family: '微软雅黑 Light';
        }
        .enter{
            color: white;
            background-color: #828282;
            padding: 5px 10px;
            border-radius: 3px;
            transition: all 0.5s 0s;
            text-decoration: none;
        }
        .enter:hover{
            background-color: black;
        }
    </style>
</head>
<body>
<div style="background-color: rgba(255, 255, 255, 0.85);width: 85%;margin: 0 auto;padding: 1pc 2pc">
    <div style="color: #7b3fb7">
        <div style="float: right;margin-top: -0.5pc">
            <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=298 height=52 src="//music.163.com/outchain/player?type=2&id=28935298&auto=0&height=32"></iframe>
        </div>
        <h1>我们的布洛格<span style="font-size: 12px">（Blog In 河南理工大学）</span></h1>
        <hr>
        <h3>引子：</h3>
        <p>本人男，关注数几十微信公众号，日均阅读仅15篇，若干日前收一推送，主题为“我是如何开始写文章的”，描述一个人的成功过程，
        最后一朋友问他：“为什么不把自己成功路上的经验写下来？”，成功人士听后顿觉甚好，于当日晚坐于电脑前，敲下数百字后睡去……</p>
        <h3>为什么不写作？</h3>
        <p>引子反映出一个事实：一个白手起家的成功人士的经历应该是丰富的，写成一本书应该是没什么问题，但是他自己去写的时候却写不出什么内容，
            我们习作中最大的困难就是“不知道写什么，无从下笔”，这是再正常不过的。</p>
        <p>
            我们可能都有这样的经历：有段时间想写点东西的欲望前所未有地强烈，一次次地打开各种记事本或笔记应用，一次次地写下几行字之后，
            默默地点击了返回按钮。“想表达的东西太多，一时间却又不知从何说起，也不知如何表达，那就算了吧，自己懂就好。”
            然后将自动保存的数百字文章给删除掉了。然后自我嘲讽说是懒得写或者是不知道怎么写。
        </p>
        <p>在大学，在课程上，写实验报告、小论文，即便是写心得，也并不是真正的感受。
            在大学里很多没有什么压力，也就没有什么倾诉的欲望，也就更加很少写自己的东西了。</p>
        <h3>为什么做这个布洛格？</h3>
        <p>现在有微博、QQ空间、朋友圈、知乎、简书等等平台，我为什么要做这个平台？就我个人感受而言，微博平台我觉得很棒，
            可是大学生习惯用这个的不是很普遍；
            QQ空间完全不适合写文章吧；朋友圈第一是字数限制，第二是受众群体太局限。知乎和简书都是专业的写文章分享的平台，简书相比更加平民化些，
            可是自己一个用心写的文章还是很大可能被一秒几篇的文章海洋给淹没，想到这里，自己写原创的动力及文章质量也可想而知。</p>
        <p>想要把自己优秀的东西展示给别人是一种非常正常的状态，可是总会有喷子说XXX装X，可以看到现在的直播平台很多主播都会承认自己装X。
        我觉得，面对别人的嘲讽一笑了之，是种人性的智慧。</p>
        <p>如何将自己和帮助别人把优秀的一面记录并展现给更多用心观看和学习的人，是我做这个布洛格时最大的动力。
            在这里，把文章分享给同校同学，获得点赞和阅读，应该是一件非常幸福的事情。</p>
        <h3>原创的重量？</h3>
        <p>我们往往是只注重了所谓的“写作技巧”而忘记了写作本身的意义——写作就是写作本身，它有太多的意义，它也不需要意义，它就是一种桀骜的存在。</p>
        <p>在你的创作世界里，你可以创造一切也可以毁灭一切，你可以歌颂一切也可以诅咒一切，你可以幻想一切又可以逃避一切。你就是上帝。</p>
        <hr>
        <p><strong>如果担心有人嘲讽自己无病呻吟，无论是真是假，It's Your Matter!</strong></p>
        <p style="float: left;margin-top: 0"><a class="enter" href="http://eeec.hpu.edu.cn/DWWZ/ime/gnosis/">进入博客</a></p>
        <p style="text-align: right">聖誕節 2016/12/12 12:35</p>
    </div>
</div>
</body>
</html>